.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

@media(min-width: 1800px) {
    .container {
        width: 1800px
    }
}

.header {
    background: #4CAF50;
    padding: 20px 0;
}

.header__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    height: 60px;
}

@media(max-width: 500px) {
    .nav__list {
        gap: 10px;
        flex-direction: column;

    }
}


.nav__list {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0;
    flex-wrap: nowrap;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
    flex-wrap: nowrap;
}

.active {
    color: #4CAF50;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav__link:hover {
    color: #4CAF50;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.banner {
    text-align: center;
    padding: 60px 0;
    background: url('../img/banner.jpg') no-repeat center/cover;
    color: white;
}

.banner__title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #d6d0d0;
    font-family: Garamond;
}

.info {
    text-align: center;
    padding: 60px 0;
    background-color: #f9f9f9;
}

.info__title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.info__text {
    font-size: 18px;
    color: #555;
    margin-bottom: 40px;
    line-height: 1.6;
}

.info__images {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.info__img {
    width: 28vw;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.info__img:hover {
    transform: scale(1.05);
}

.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.footer__link {
    color: #FFD700;
    transition: 0.4s;
}

.footer__link:hover {
    color: #4CAF50;
    text-decoration: underline;
}

/* privacy */
.privacy-policy__container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.privacy-policy__title {
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.privacy-policy__subtitle {
    font-size: 24px;
    color: #4CAF50;
    margin-top: 20px;
}

.privacy-policy__text {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

.privacy-policy__date {
    font-weight: bold;
    font-size: 13px;
    text-align: right;
    color: #333;
}

.privacy-policy {
    background-color: #f4f4f4;
    padding: 40px 0;
}

.privacy-policy__container {
    background-color: white;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* info */
.info-details {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.info-details__block {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.info-details__block.reverse {
    flex-direction: row-reverse;
}

.info-details__text {
    flex: 1;
}

.info-details__title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.info-details__description {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.info-details__image {
    flex: 1;
}

.info-details__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s;
}

.info-details__img:hover {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .info-details__block {
        flex-direction: column;
        text-align: center;
    }

    .info-details__block.reverse {
        flex-direction: column-reverse;
    }
}

/* галерейка, хочу спать */
.gallery__item {
    text-align: center;
}

.gallery__description {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
    font-style: italic;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.gallery__img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.gallery__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
}

@media (max-width: 990px) {
    .gallery__grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .gallery__grid {
        grid-template-columns: 1fr;
    }
}